{{page-title "CrudDemo"}}

{{#if this.error}}

  <p class='error'>
    There was an error: <span>{{this.error}}</span>
  </p>

{{else}}

  {{#each @model.data as |user|}}
    {{log "user" user}}
    <div data-test-id="user">
      <form {{on 'submit' (fn this.updateUser user)}}>
        <Input value={{user.name}} />
        <button>Save</button>
        <button {{on 'click' (fn this.deleteUser user)}}>Delete</button>
        <span>
          {{#if user.isSaving}}
            Saving...
          {{else if user.id}}
            Saved
          {{/if}}
        </span>
      </form>
    </div>
  {{/each}}

{{/if}}

<hr>

<div>
  <form {{on 'submit' this.createUser}}>
    <div>
      <Input aria-label="Name" value={{this.newName}} placeholder='Name' />
    </div>

    <div>
      <button data-test-button>
        Create a new user
      </button>
    </div>
  </form>
</div>
